* {
    outline: none;
}

.navbar-nav {
    margin: auto;
    z-index: 10000 !important;
}

.navbar-nav .nav-link {
    color: #fff;
}

.navbar .container-fluid a:hover {
    color: #ffa500 !important;
}