* {
    outline: none;
}

.navbar-nav {
    margin: auto;
    z-index: 10000 !important;
}

.navbar-nav .nav-link {
    color: #000000 !important;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.navbar .container-fluid a:hover {
    color: #ffa500 !important;
}