RewriteEngine On
mod_rewrite On

ErrorDocument 404 \404


<Directory /js/>
    Order deny,allow
    Deny from all
</Directory>

<Directory /css/>
    Order deny,allow
    Deny from all
</Directory>

<Directory /icon/>
    Order deny,allow
    Deny from all
</Directory>

<Directory /boostrap-5.3.0-alpha3-dist/>
    Order deny,allow
    Deny from all
</Directory>

Options +MultiViews
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^$ index.html [QSA,L]
