RewriteEngine On
mod_rewrite On

ErrorDocument 404 \404


<Files "(^js\/)|(^css\/)|(^icon\/)|(^bootstrap-5.3.0-alpha3-dist\/)">
    Order Allow,Deny
    Deny from All
</Files>


Options +MultiViews
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^$ index.html [QSA,L]
