.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    text-align: center;
    font-size: 25px;
}

.content {
    display: flex;
    margin: 20px 20px;
}

.game_Card {
    padding: 25px;
    margin: 25px 25px;
}

.game_name {
    white-space: nowrap;
}