.navbar {
  background-color: #fff;
  color: #333;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar .container {
  display: flex;
  justify-content: center;
  /* 将内容放置在容器的两侧 */
  width: 100%;
  height: auto;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar .logo span {
  margin-left: 10px;
  white-space: nowrap;
}

.logo img {
  margin-left: 10px;
  /* 调整图片和文字之间的间距 */
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.menuItem {
  margin-left: 20px;
  text-align: center;
  align-self: center;
}

.navbar .menuItem a {
  color: #000;
  text-decoration: none;
}

.menuItem a:hover {
  color: #f00;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: stretch;
    transition: all 0.25s;
    will-change: auto;
  }

  .container {
    margin-top: 20px;
  }

  .logo {
    justify-content: center;
    margin-bottom: 10px;
  }

  .menu {
    justify-content: center;
    margin-bottom: 20px;
  }

  .menuItem {
    margin: 0 10px;
  }
}


.sidebarToggle {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sidebarToggleIcon {
  width: 20px;
  height: 20px;
  background-color: #333;
  border-radius: 50%;
  transition: background-color 0.3s;
}